<h1>New Company</h1>

<%= form_for @company, url: {action: :create} do  |form| %>


  <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %><br>
      <% @company.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.submit %>
  </div>
<% end %>