<h1>Edit Book</h1>

<%= form_with model: @book, url: {action: :update}  do |form| %>


  <div>
      <%= form.label :name %><br>
      <%= form.text_field  :name %><br>
      <% @book.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>
<div>
      <%= form.label :author %><br>
      <%= form.text_field  :author %><br>
      <% @book.errors.full_messages_for(:author).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

<div>
      <%= form.label :price %><br>
      <%= form.text_field  :price %><br>
      <% @book.errors.full_messages_for(:price).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

<div>
      <%= form.label :editor %><br>
      <%= form.text_field  :editor %><br>
      <% @book.errors.full_messages_for(:editor).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

<div>
      <%= form.label :description %><br>
      <%= form.text_area :description %><br>
      <% @book.errors.full_messages_for(:description).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.submit %>
  </div>
<% end %>